[Unit]
Description=Cubietruck Bluetooth Initialization

[Service]
Type=forking
ExecStart=/usr/local/bin/bluetooth-init.sh

[Install]
WantedBy=multi-user.target 
